[**/*.svelte]
indent_style = space
indent_size = 2
end_of_line = lf
[**/*.vue]
indent_style = space
indent_size = 2
end_of_line = lf
[**/*.ts]
indent_style = space
indent_size = 2
end_of_line = lf
[**/*.tsx]
indent_style = space
indent_size = 2
end_of_line = lf
[**/*.toml]
indent_style = space
indent_size = 2
end_of_line = lf
