@tailwind preflight;
@tailwind components;
@tailwind utilities;

.stripe {
  grid-area: stripe;
}
.content {
  grid-area: content
}
.nav {
  grid-area: nav;
}
.sidebar {
  grid-area: sidebar;
}

.link-btn {
  @apply p-1 rounded min-w-0 no-underline m-1 inline-block text-orange-darkest text-sm border-2 border-white bg-white text-orange-darkest cursor-pointer text-center
}
@screen md {
    .link-btn {
        @apply p-2 m-2 text-base;
    }
}

.link-btn-primary {
    @apply text-white border bg-orange border-orange;
}

.link-btn-secondary {
    @apply bg-orange-lighter border border-orange-lighter;
}

.link-btn-tertiary {
    @apply border-grey;
}
