.header {
    font-size: 20px;
    font-weight: bold;
}

.Balance {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid black;
    border-top: 0;
    border-radius: 5px;
}

.ProgressFlipped {
    transform: rotate(180deg);
}

.ProgressFlipped::-moz-progress-bar {
    background-color: red;
}

.ProgressFlipped::-webkit-progress-value {
    background-color: red;
}

.Progress::-moz-progress-bar {
    background-color: green;
}
.Progress::-webkit-progress-value {
    background-color: green;
}

.Progress[value] {
    appearance: none;
}
.ProgressFlipped[value] {
    appearance: none;
}

.Balance:first-of-type {
    border-top: 1px solid black;
}

.BalanceLabel {
    font-weight: bold;
}

.BalanceAmount {
    text-align: right;
}

.BalanceTarget {
    text-align: right;
}

@media screen and (max-width: 700px) {
    .header {
        font-size: 16px;
    }

    .Balance {
        flex-direction: column;
    }

    .BalanceLabel {
        word-wrap: break-word;
    }

    .BalanceAmount {
        text-align: left;
    }

    .BalanceTarget {
        text-align: left;
    }
}
