.ProgressFlipped {
    transform: rotate(180deg);
}

.ProgressFlipped::-moz-progress-bar {
    background-color: #c65e21;
}

.ProgressFlipped::-webkit-progress-value {
    background-color: #c65e21;
}

.Progress::-moz-progress-bar {
    background-color: #7bb026;
}
.Progress::-webkit-progress-value {
    background-color: #7bb026;
}

.Progress[value] {
    appearance: none;
}
.ProgressFlipped[value] {
    appearance: none;
}
