.header {
    font-size: 24px;
    font-weight: bold;
}

.Balances {
    min-width: 0;
    flex: 1 1 0;
    padding: 12px;
    margin-right: 12px;
    border-radius: 5px;
}

.Transactions {
    min-width: 0;
    flex: 3 2 0;
    padding: 12px;
    border-radius: 5px;
}

.Balances, .Transactions {
    background-color: #ffffff;
    border: 2px solid #e1e1e1;
}

button.ExportTxns {
  border-radius: 4px;
  padding: 4px;
  background: #f7f7f7;
  border: 2px solid #fab38b;
  color: #572508;
}

@media screen and (max-width: 400px) {
    .header {
        font-size: 18px;
    }

    .Balances {
        padding: 4px;
        margin-right: inherit;
    }

    .Transactions {
        padding: 4px;
    }
}
