.txnGroupedOuter {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #e1e1e1;
  border-top: 0;
  border-radius: 5px;
}

.txnGroupedOuter:first-of-type {
  border: 1px solid #e1e1e1;
}

.txnGroupedDate {
  margin-right: 8px;
}

.txnGroupedCenter {
  text-align: left;
  flex: 1 1 100%;
  min-width: 0;
  margin-right: 8px;
}

.txnGroupedLabel {
  text-align: left;
  font-weight: bold;
}

.txnGroupedAccounts {
  display: flex;
  flex: 1;
  font-size: 12px;
  font-style: italic;
}

.txnGroupedAmount {
  text-align: right;
}

.collapsable {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
