window._env_ = {
  "GRAPHQL_HTTP_HOST": "http://localhost:8080/v1/graphql",
  "GRAPHQL_WSS_HOST": "ws://localhost:8080/v1/graphql",
  "HOST": "penguin.linux.test",
  "USE_POUCH": "true",
  "COUCHDB": "http://localhost:5984"
};
